/*Responsiveness macro-aree layout*/
@media screen and (max-width: 520px){
    aside{
        width: 50px;
        padding: 20px unset 20px;
        align-items: center;
    }
    .main-container .cta{
        left: 50px;
    }
    aside .playlist,
    aside .menu span,
    aside .logo .big{
        display: none;
    }
    aside div.logo{
        width: 30px;
    }
    .logo .small{
        display: unset;
    }
    li .icon{
        margin-right: unset;
    }
    .user .install span, .user__name, .user hr{
        display: none;
    }
    .user .install .icon{
        width: 100%;
        margin-bottom: 5px;
    }
    
}