/*MAIN 4 COLL*/
@media screen and (max-width: 870px){
    .cover-list{
        flex-wrap: wrap;
    }
    .cover{
        width: 23%;
    }
}

@media screen and (max-width: 640px) {
    .cover{
        width: 48%;
    }
    .categories{
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
    }
    .song-playing .cover__image{
        width: 30px;
        height: 30px;    
    }
    .song-playing i {
        display: block;    
        margin-left: unset;
        
    }
    
}

@media screen and (max-width: 550px){
    aside{
        flex-basis: 50px;
        padding: 20px 0 20px;
        align-items: center;
    }
    .main-container .cta{
        left: 50px;
    }
    aside .playlist,
    aside .menu span,
    aside .logo .big{
        display: none;
    }
    aside div.logo{
        width: 30px;
    }
    .logo .small{
        display: unset;
    }
    li .icon{
        margin-right: unset;
    }
    .user .install span, .user__name, .user hr{
        display: none;
    }
    .user .install .icon{
        width: 100%;
        margin-bottom: 5px;
    }
    .user{
        margin-top: auto;
    }
    /*FOOTER RULES*/
    
    .player__commands{
        gap: 10px;
    }
    .media-player, footer .current-song{
        font-size: 12px;
    }
    .song-playing:last-child{
        padding-right: 0;
    }
    
}