/*DEBUG RULES*/
.debug-main{
    width: 100%;
    border: 4px solid #0ef0dd;   

}
.debug-aside{
    width: 100%;
    border: 4px solid #03f803;
    
}

/*END DEBUG RULES*/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    overflow: hidden;
    font-family: 'Dongle', sans-serif;

    --active:hsl(0, 0%, 60%);  
    --hover: white;  
}
img{
    width: 100%;
}
.over-flow{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin; /*Solo firefox*/
}
body{
    /* display: flex; */
    height: 100vh;
    /* flex-direction: column;    */
    color:hsl(0, 0%, 25%); 
}
ul{
    list-style: none;
}
ul li{
    white-space: nowrap;
}

/*REGOLE ACTIVE*/
.active{
    color: var(--active);
}
.active-categorie{
    position: relative;
}
.active-categorie:after{
    content: "";
    display: block;
    height: 2px;
    width: 40%;
    margin:0 auto;
    background-color: yellowgreen;
    position: absolute;
    left: 50%;
    bottom:10%;
    transform: translateX(-50%);      
}
/*End REGOLE ACTIVE*/

h1, h2, h3{
    color: white;
}

main{
    /* flex-grow: 1; */
    height:calc(100vh - 80px);
    background-color: #141922;
    /* border: 4px solid red; */
    display: flex;
    
}

/*////////////////////ASIDE RULES////////////////////*/
aside{
    background-color: hsl(0, 0%, 0%);
    flex-basis: 200px;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;    
    gap: 10px 0;
    font-size: 20px;   
    padding: 20px 20px 20px;
}
.logo{
    width: 75%;
}
.logo .small{
    display: none;
}
aside .playlist{
    display: contents;
}
.playlist button{
    height: 50px;
    background-color: transparent;
    text-align: start;
    font-weight: bolder;
    vertical-align: middle;
    border-style: none;
}
.playlist button i{
    font-size: 40px;
    vertical-align: middle;
}
aside .playlist__item{
    flex-grow: 1;
    overflow: auto;
    scrollbar-width: thin;
}
li .icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 30px;
    text-align: center;
}
.icon i{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.playlist .icon i, .playlist li:first-of-type{
    line-height: 40px; 
}
.playlist .icon{
    font-size: 40px;
    width: 40px;
}
.user .install .icon{
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}
.user .icon img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain;
}
.user hr{
    margin-block: 10px;
}
.user .profile-image{
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    background-color: hsl(0, 0%, 60%);
    vertical-align: middle;
}
.user .profile-image img{
    display: block;
    height:100%;
    width: 100%;
    object-position: top;
    object-fit: cover;
}
.user li.install{
    line-height: 20px;
}
.user__name{
    display: inline-block;
    padding-left: 5px;
}

/*//////////////////END ASIDE RULES/////////////////*/

/*//////////////////MAIN CONTAINER RULES///////////*/


.main-container{
    flex-grow: 1;
    height: calc(100vh - 80px);
}
.main-container .cta{
    background-color:rgba(8, 11, 18, 0.9);
    padding: 20px 20px;
    text-align: right;
    position:fixed; 
    right:0;
    top:0;
    left:200px; /*Aside width*/
    z-index: 10;
}
.cta button{
    color: white;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 999px;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
}
.cover-container{
    padding-top: 80px;
    height: 100%;
    padding-bottom: 20px;
}

.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase; 
    font-size: 25px;   
}
.categories ul{
    display: contents;
}
.categories ul li{
    color: var(--hover);
}
.categories ul li a{
    text-decoration: none; 
    color: var(--active);
    padding: 0 7px;
}

/*Cover Wrapper*/
.cover-wrapper{
    padding-left:10px;
    white-space: nowrap;
}

.cover-list{
    display: flex;
    gap: 0 1%;
    width: 100%; 
}
.wrapper__title{
    font-size: 40px;
}
.wrapper__subtitle{
    font-size: 20px;
    margin-top: -15px;
    color: var(--active);
}
.cover{
    width: 14%;
}
.cover__image img{
    display: block;
}
.cover__title{
    font-size: 20px;
    text-align: center;
}
.cover__subtitle{
    text-align: center;
    font-size: 20px;
    margin-top: -10px;
}
.cover__image.artist{
    border-radius: 50%;
    overflow: hidden;
}
.cover__image.artist img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;    
}
.cover__image{
    position: relative; /*Per poter mettere il hover*/
}

/*////////////////END MAIN CONTAINER RULES///////////*/

/*////////////////FOOTER CURRENT-SONG RULES///////////*/

footer{
    height: 80px;
    padding: 5px;
    background-color: hsl(0, 0%, 16%);
    flex-shrink: 0;    
    position: fixed;
    z-index: 999;
    left:0; 
    right:0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

/*song playing*/

.song-playing{
    max-width: 200px;  
    display: flex;
    align-items: center;
    flex-shrink: 1;
    column-gap: 5px;
}
.song-playing i{
    margin-left: 10px;
}
.song-playing .cover{
    display: contents;
}
.song-playing .cover__image{
    width: 45px;
    height: 45px;

}
.song-playing .cover__image img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*Media Player*/

.media-player{
    flex-basis: 40%;
    /* max-width: 50%;
    min-width: 200px; */
    color: white;
    /*Correzioni*/
    /* display: flex; */
}
.player__commands{
    /* margin: 10px auto 0; */
    /* max-width: fit-content; */
    /*Correzioni*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.player .progress{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress__bar{
    background-color: var(--active);
    height: 4px;
    border-radius: 999px;
    margin: 0 10px;
    position: relative; 
    /*Correzione*/
    flex-grow: 1;
    flex-shrink: 1;
    
}
.progress-track{
    background-color: white;
    position: absolute; 
    border-radius: 999px;
    top:0; 
    bottom: 0; 
    left:0; 
    width: 40%;
}
.progress-disc{
    height: 10px;
    width: 10px;
    background-color: var(--active);
    box-shadow: 0 0 5px black;
    border-radius: 50%;
    position: absolute;
    right:0;
    top:50%;
    transform: translate(50%, -50%);
    visibility: hidden;
}

/*Settings*/

.settings{
    
    display: flex;
    align-items: center;
    color: white;
    gap: 0 5px;
    
}
.settings .progress__bar{
    width: 50px;
    margin: 0;
}
.settings i{
    font-size: 12px;
}    


/*////////////////FOOTER CURRENT-SONG END///////////*/