/*DEBUG RULES*/
.debug-main{
    width: 100%;
    border: 4px solid #0ef0dd;   

}
.debug-aside{
    width: 100%;
    border: 4px solid #03f803;
    
}
aside{
    /* border: 4px solid orange; */
}
.main-container{
    /* border: 4px solid violet */
}
.cover-wrapper{
    width: 100%;
    padding-block: 40px;
    border: 4px solid #FFF500;
}
/*END DEBUG RULES*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    overflow-y: hidden;
    font-family: 'Dongle', sans-serif;

    --active:hsl(0, 0%, 60%);  
    --hover: white;  
}
img{
    width: 100%;
}
.over-flow-s{
    overflow-y: scroll;
    scrollbar-width: thin; /*Solo firefox*/
}
body{
    display: flex;
    height: 100vh;
    flex-direction: column;   
    color:hsl(0, 0%, 25%); 
}
ul{
    list-style: none;
}
.active{
    color: var(--active);
}
h1, h2, h3{
    color: white;
}

main{
    flex-grow: 1;
    background-color: #141922;
    /* border: 4px solid red; */
    display: flex;
}

/*////////////////////ASIDE RULES////////////////////*/
aside{
    background-color: hsl(0, 0%, 0%);
    width: 200px;
    max-height: calc(100% - 60px);
    flex-shrink: 0;
    display: flex;
    gap: 10px 0;
    flex-direction: column;    
    font-size: 20px;   
    padding: 20px 20px 20px;
}
.logo{
    width: 75%;
}
.logo .small{
    display: none;
}
aside li:hover{
    color: var(--hover);
}
aside .user{
    margin-top:auto; /*Per il flex*/
}   
li .icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 30px;
    text-align: center;
}
.icon i{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.playlist .icon i, .playlist li:first-of-type{
    line-height: 40px; 
}
.playlist .icon{
    font-size: 40px;
    width: 40px;
}
.user .install .icon{
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}
.user .icon img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain;
}
.user hr{
    margin-block: 10px;
}
.user .profile-image{
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    background-color: hsl(0, 0%, 60%);
    vertical-align: middle;
}
.user .profile-image img{
    display: block;
    height:100%;
    width: 100%;
    object-position: top;
    object-fit: cover;
}
.user li.install{
    line-height: 20px;
}
.user__name{
    display: inline-block;
    padding-left: 5px;
}

/*//////////////////END ASIDE RULES/////////////////*/

/*//////////////////MAIN CONTAINER RULES///////////*/


.main-container{
    flex-grow: 1;
    max-height: calc(100% - 60px);
}
.main-container .cta{
    background-color:rgba(8, 11, 18, 0.8);
    padding: 20px 20px;
    position:fixed; 
    right:0;
    top:0;
    left:200px; /*Aside width*/
}
.cta button{
    color: white;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 999px;
    background-color: transparent;
    float: right;
    font-size: 14px;
    font-weight: bold;
}
.clearfix::after{
    content:"";
    display: block;
    clear:both
}
.cover-container{
    position:sticky;
    top: 79.2px;
    left:0;
    right:0; 
    bottom: 0;
}
.categories{
    padding-block: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase; 
    font-size: 25px;   
}
.categories ul{
    display: contents;
}
.categories ul li{
    color: var(--hover);
}
.categories ul li a{
    text-decoration: none; 
    color: var(--active);
    padding: 0 7px;
}
.categories ul li a:hover{
    color: currentColor;
}

/*////////////////END MAIN CONTAINER RULES///////////*/

footer{
    padding-block: 30px;
    background-color: hsl(0, 0%, 16%);
    border: 4px solid salmon;
    flex-shrink: 0;    
    position: fixed;
    z-index: 999;
    left:0; 
    right:0;
    bottom: 0;
}